.o-card {
  margin: 15px;
  border-radius: 10px;
  background-color: white;
  width: 35rem;


  &__img {
    width: 35rem;

    border-radius: 10px 10px 0px 0px;
  }

  &__title {
    padding: 10px;
    font-size: 19px;
    padding-bottom: 3px;
  }

  &__subtitle {
    padding: 10px;
    padding-left: 15px;
    padding-top: 2px;
    font-size: 13px;
    border-bottom: 1px solid black;
  }

  &__info {
    padding: 10px;
    font-size: 13px;
  }

}

