.o-tracker {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;

  &__tabContainer {

    button {
      margin: 15px;
      margin-top: 0;
      width: 120px;
      height: 50px;
      font-size: 20px;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid black;
      cursor: pointer;
      outline: none;
      opacity: 0.5;
      transition: all 0.35s;
    }
    
    button:hover {
      opacity: 1;
    }
    
  }
}