.createPost {
    text-align: center;
    font-size: 2vh;
    background-color: rgb(244,238,226);
}

.trigger {
   border-style: double;
   font-size: 1.5vh;
    height: 5vh;
    width: 20vh;
}

body {
    background-color: rgb(244,238,226);
}