.o-button {
  backface-visibility: hidden;
  outline: none;
  margin:  25px auto;
  margin-top: 100px;
  padding: 1.2rem 4.3rem;
  transition: all .4s;
  transition-timing-function: ease-in-out;
  border-radius: 12px;
  background-color: #6699cc;
  color: #f4eee1;
  font-size: 1.5rem;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    padding: 1.2rem 5rem;
  }
  &:active {
    border-width: 0;
    background-color: rgb(170, 210, 228);
  }
  &:focus {
    outline: none 0px transparent;
  }
}